<%- header%>

    <section id="bannerConnectDesk">
        <div class="bannerCanvas">
            <div class="motionBanner">
                <div class="flex items-center justify-center w-full h-full">
                    <div class="enterModal">
                        <div class="flex flex-col gap-4 items-center justify-center min-h-[70dvh] md:min-h-fit">
                            <span class="text-[18px] md:text-[32px]">Veja o que o ConnectDesk pode fazer por...</span>
                            <span class="text-[64px]">Você</span>
                            <span class="commonButton primary">Comece Agora!</span>
                        </div>
                    </div>
                    <div class="enterBackground absolute opacity-0 w-[80%] aspect-[21/9] rounded-3xl bg-center bg-no-repeat bg-contain"
                        style="background-image: url('<%= resposta.banner.imageUrl %>');"></div>
                    <span class="resizeDownWhileScroll">Conheça o ConnectDesk</span>
                </div>
            </div>
        </div>
    </section>

    <section id="problemsWeSolute">
        <div
            class="problemsWeSolve bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">
            <div class="w-full flex items-center justify-center">
                <span class="text-[2rem] md:text-[4rem] p-4 text-center">Problemas que Resolvemos</span>
            </div>

            <div class="w-full flex items-center justify-center">
                <div class="slider"
                    style="--width: 200px;--height: 88px;--quantity: 33;--time: 1s;--max-height: 300px; width: 100%;">
                    <div class="list" #listStyle>
                        <% resposta.lstProblems.forEach((item, index)=> {%>
                            <div class="item w-full h-full p-4 bg-center bg-contain bg-no-repeat"
                                style="--position: <%= index + 1%>">
                                <div class="resizeTimeline">
                                    <span>
                                        <%= item.nome%>
                                    </span>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>

            <div class="flex-row-scroll px-8 pb-8 pt-4">
                <div class="min-w-[30dvw]"></div>
                <% resposta.lstSolutions.forEach((item, index)=> { %>
                    <div class="item gigantic shadow-lg">
                        <div class="background" style="background-image: url('<%- item.image %>')"
                            aria-label="<%- item.nome %>"></div>
                        <div class="w-full h-full overflow-auto">
                            <div
                                class="relative md:absolute top-0 left-0 p-6 text-[18px] md:text-[32px] font-bold z-10">
                                <span><%- item.nome %></span>
                            </div>

                            <div
                                class="relative md:absolute bottom-0 left-0 p-6 flex flex-col gap-4 w-full z-10 xl:max-w-[60%]">
                                <% if (Array.isArray(item.list)) { %>
                                    <% item.list.forEach((itemList, indexList)=> { %>
                                        <div>
                                            <span><%- itemList.title %></span>
                                            <span><%- itemList.paragraph %></span>
                                        </div>
                                        <% }); %>
                                            <% } else { %>
                                                <div><span>Sem informações disponíveis</span></div>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </section>

    <section id="meetHelpdesk">
        <div
            class="bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">
            <div class="w-full flex items-center justify-center">
                <span class="text-[2rem] md:text-[4rem] p-4 text-center">Conheça o ConnectDesk</span>
            </div>

            <div class="scroll-products">
                <div class="min-w-[30dvw]"></div>
                <template x-for="(item, index) in lstProducts" :key="index">
                    <div class="item bg-center bg-no-repeat bg-cover"
                        :style="'background-image: url(' + item.image + ')'">
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-row items-center gap-4">
                                <div
                                    class="relative overflow-hidden w-[64px] aspect-square rounded-[var(--main-curve)] bg-[var(--mat-sys-background)] flex items-center justify-center">
                                    <div class="w-[48px] h-[48px] bg-no-repeat bg-center bg-contain"
                                        :style="'background-image: url(' + item.logo + ')'"></div>
                                </div>
                                <div><span x-text="item.nome"></span></div>
                            </div>
                            <span x-text="item.description"></span>
                        </div>

                        <div class="absolute bottom-[var(--main-padding)] right-[var(--main-padding)]">
                            <div class="iconButton primary" @click="item.show = !item.show">
                                <span class="aspect-square flex items-center justify-center">
                                    <span class="material-symbols-rounded">
                                        add
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <!-- Exibe informações completas se "show" for true -->
            <template x-for="(item, index) in lstProducts" :key="'info-' + index">
                <div x-show="item.show" x-transition:leave="slide-down"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 translate-y-10" class="fullInformation">
                    <div
                        class="w-[90%] lg:w-[70dvw] h-max flex flex-col rounded-[var(--main-curve)] bg-[var(--mat-sys-background)] shadow-lg my-[20dvh]">
                        <div class="relative w-full aspect-[4/3] md:aspect-[16/9] lg:aspect-[21/9] rounded-t-[var(--main-curve)] bg-center bg-no-repeat bg-cover"
                            :style="'background-image: url(' + item.image + ')'">
                            <div
                                class="absolute top-[calc(var(--main-padding))] right-[calc(var(--main-padding))] z-50">
                                <div class="iconButton primary" @click="item.show = false">
                                    <span class="material-symbols-rounded">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full h-[600px]" style="padding: min(var(--main-padding, 20dvw));">
                            <span x-text="item.nome"></span>
                            <span x-text="item.description"></span>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>

    <section id="otherResources">
        <div
            class="bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">

            <div class="w-full flex justify-center">
                <div class="hidden lg:block max-w-[75dvw] w-full h-full">
                    <div class="w-full h-full grid grid-cols-[var(--custom-columns)] gap-4">
                        <div class="grid grid-rows-3 col-span-1 gap-4">
                            <div class="flex items-center justify-center bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl aspect-square"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center">
                                    <span>Base de Conhecimento</span>
                                    <span style="font-size: 2.4rem;">ILimitada</span>
                                </div>
                            </div>
                            <div class="flex items-center justify-center bg-[var(--mat-sys-tertiary)] rescaleHover tiltCard rounded-3xl aspect-square"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center text-black">
                                    <span style="font-size: 2.4rem;">100%</span>
                                    <span style="font-size: 2.4rem;">ILimitada</span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl aspect-square"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center justify-center self-start p-4 w-full overflow-hidden">
                                    <span class="text-center" style="font-size: 1.4rem;">100% de suporte a dispositivos móveis</span>
                                    <div class="relative flex items-center justify-center w-full bottom-0 h-full">
                                        <div class="h-[70%] aspect-square bg-no-repeat bg-contain bg-center" style="background-image: url('<%= resposta.otherResources[2].image %>'); transform: translateY(16%);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 grid-rows-3 gap-4">
                            <div class="col-span-2 bg-[#74AA9c] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col lg:flex-row items-center justify-center p-4 h-full w-full">
                                    <span class="text-center text-white" style="font-size: 1.4rem;"><%= resposta.otherResources[3].title%></span>

                                    <div class="relative flex items-center justify-center w-full h-full">
                                        <div class="h-[70%] aspect-square bg-no-repeat bg-contain bg-center" style="background-image: url('<%= resposta.otherResources[3].image %>'); transform: translateX(20%)"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 grid-rows-2 col-span-2 row-span-2 gap-4">
                                <div class="row-span-2 flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                </div>
                                <div class="flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                </div>
                                <div class="flex flex-col bg-[var(--mat-sys-secondary)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-rows-3 col-span-1 gap-4">
                            <div class="row-span-2 flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                            </div>
                            <div class="flex flex-col bg-[var(--mat-sys-primary-dim)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block lg:hidden w-full h-max grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 grid-rows-auto gap-4"
                    style="padding-left: min(1.5rem, 20dvw); padding-right: min(1.5rem, 20dvw);">
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-square sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-square sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-square sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-square sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-square sm:aspect-square"></div>
                    <div class="bg-red-500 col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square"></div>
                    <!-- <div class="bg-red-500 col-span-1 rounded-3xl aspect-square md:aspect-square"></div> -->
                </div>
            </div>

        </div>

    </section>

    <%- footer%>