<%- header%>

    <!-- Banner -->
    <section id="inicio"
        class="relative w-full min-h-[90dvh] md:h-[48rem] flex items-center justify-center bg-no-repeat bg-cover bg-center">

        <div class="relative flex items-center justify-center">
            <div
                class=" relative w-full h-full flex flex-col-reverse md:flex-row items-center z-10 xl:gap-6">

                <div class="flex flex-col p-4 items-center justify-end text-[var(--mat-sys-on-surface)]"
                    style="flex: 1;">
                    <h2 class="highlight w-full md:text-left text-center">Conecte-se ao novo <br> cenário
                        profissional</h2>
                    <span class="w-full md:text-left text-center">Gestão Eficiente, Liberdade de
                        Trabalho</span>
                </div>

                <div class="flex items-center justify-start">
                    <div
                        class="flex flex-row gap-4 p-4 items-center justify-center w-full aspect-square scale-100">
                        <div class="flex flex-col items-end   gap-4">
                            <div class="relative rounded-2xl w-[40dvw] md:w-[20dvw] aspect-square bg-[var(--mat-sys-secondary)]">
                                <img class="absolute bottom-0 left-0 right-0 scale-125 origin-bottom aspect-square z-10"
                                    src="<%= resposta.bannerAsset.confidentMen %>" alt="">
                            </div>
                            <div
                                class="h-max w-full flex items-center justify-center rounded-2xl bg-[var(--mat-sys-primary-bright)] text-[var(--mat-sys-on-primary-bright)] p-4">
                                <span class="font-bold" style="font-size: 1rem;">Gestão Eficiente,<br> Liberdade de Trabalho<br>
                                    Transparência Total.</span>
                            </div>


                        </div>
                        <div class="flex flex-col gap-4 relative">
                            <div
                                class="relative w-[60%] aspect-square rounded-2xl bg-[var(--mat-sys-tertiary-bright)] flex items-center justify-center">
                                <div class="relative w-[80%] aspect-square flex items-center justify-center">
                                    <img class="absolute top-0 left-0 right-0 bottom-0 w-full aspect-square"
                                        src="<%= resposta.bannerAsset2.iconLogo %>" alt="">
                                    <img class="absolute top-[20px] left-0 right-0 bottom-0 w-full"
                                        style="animation: pulse 4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;"
                                        src="<%= resposta.bannerAsset2.iconLogo %>" alt="">

                                </div>
                            </div>
                            <div
                                class="h-max w-full rounded-2xl bg-[var(--mat-sys-tertiary)] text-[var(--mat-sys-on-tertiary)] p-4">
                                <span class="font-bold" style="font-size: 1rem;">
                                    <span style="font-size: 0.8rem;">Colabore</span><br> <span class="text-nowrap">de
                                        onde quiser</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div :class="{'brightness-75': theme == 'dark'}"
            class="absolute top-0 left-0 w-full h-full bg-cover bg-no-repeat bg-center z-0"
            style="background: radial-gradient(128.49% 85.13% at 35.04% 15.9%, var(--mat-sys-primary-bright) 0%, var(--mat-sys-surface) 100%);">
        </div>

        <div :class="{'bg-blend-color-burn opacity-20': theme == 'dark', 'opacity-80': theme == 'light'}"
            class="absolute top-0 left-0 w-full h-full bg-left-top z-0 invert "
            style="background-image: url('<%= resposta.banner.imageUrl %>'); background-size: 100px;">
        </div>
    </section>


    <section id="vantagens" class="advantages relative w-full h-[100dvh] flex flex-col items-center">

        <div
            class="absolute flex flex-col gap-4 w-full h-full items-center pt-[210px] pb-[110px] xl:px-4 z-10 max-w-[1920px]">

            <div id="advantage-title" class="absolute top-0 h-[240px] z-0 w-full flex flex-col items-center justify-center p-4">
                <h2 class="titleAdvantages font-bold text-[var(--mat-sys-on-surface)]"
                    style="font-size: 2.4rem;">O melhor Lugar para você</h2>
                <span class="titleAdvantages text-[var(--mat-sys-on-primary-dim)]"
                    style="font-size: 1rem;">Confira vantagens para prestadores e para tomadores de
                    serviços</span>
            </div>

            <div class="hidden xl:flex flex-col w-full h-full max-w-[100%]  2xl:max-w-[80dvw]">
                <div class="relative grid grid-cols-4 w-full h-full gap-4">
                    <template x-for="(item, index) in lstAdvantages" :key="index">
                        <div class="cardAdvantages hoverCard slideFromTop" :class="item.style == 1 ? 'main' : 'secondary'"> 
                            <span :class="item.toggle ? 'text-[1rem]' : 'text-[1.6rem]'" x-text="item.title"></span>
                            <span x-text="item.description"></span>
                        </div>
                    </template>
                </div>
                
                <div id="vantagens-list-top" class="h-[1rem]"></div>
                <div id="vantagens-list-bottom" class="h-[1rem]"></div>

                <div class="relative grid grid-cols-4 w-full h-full gap-4">
                    <template x-for="(item, index) in lstAdvantages2" :key="index">
                        <div class="cardAdvantages hoverCard slideFromBottom" :class="item.style == 1 ? 'main' : 'secondary'">
                            <span :class="item.toggle ? 'text-[1rem]' : 'text-[1.6rem]'" x-text="item.title"></span>
                            <span x-text="item.description"></span>
                        </div>
                    </template>
                </div>
            </div>

            <div class="flex xl:hidden flex-col gap-4 w-full h-full">
                <div class="w-full h-full overflow-x-auto overflow-y-visible px-4">
                    <div
                        class="relative flex flex-row flex-nowrap w-full h-full gap-4 min-w-[calc(80dvw_*_4)] md:min-w-[calc(80dvw_*_3)]">
                        <div class="cardAdvantages">
                            <span>Controle Total e Transparência</span>
                            <span>Tenha acesso a relatórios detalhados e métricas de desempenho em tempo real.</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Os Melhores Preços do Mercado!</span>
                            <span>A combinação perfeito custo x benefícios</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Com valores cobrados em moeda local!</span>
                            <span>Pague sempre na sua moeda. Esqueça o IOF e as variações do câmbio! Não tenha surpresas
                                no final do mês.</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Plataforma Integrada</span>
                            <span>Conecte todas as áreas do seu negócio em um único lugar.</span>
                        </div>
                    </div>
                </div>

                <div class="w-full h-full overflow-x-auto overflow-y-visible px-4">
                    <div
                        class="relative flex flex-row flex-nowrap w-full h-full gap-4 min-w-[calc(80dvw_*_4)] md:min-w-[calc(80dvw_*_3)]">
                        <div class="cardAdvantages">
                            <span>Trabalhe de Onde Quiser</span>
                            <span>Flexibilidade total para escolher seu local e horário de trabalho, em qualquer parte
                                do mundo.</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Diversidade de Projetos</span>
                            <span>Trabalhe em diferentes setores e expanda seu portfólio.</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Crescimento Profissional Constante</span>
                            <span>Acesse treinamentos e feedback contínuo para evoluir sua carreira.</span>
                        </div>
                        <div class="cardAdvantages">
                            <span>Autonomia Total</span>
                            <span>Defina suas metas, escolha seus projetos e gerencie seu próprio tempo.</span>
                        </div>
                    </div>
                </div>

            </div>

            <div
                class="hidden xl:flex items-center absolute top-0 bottom-0 z-0 w-full px-4 pointer-events-none select-none">
                <span class="font-bold text-[var(--mat-sys-on-surface)]" id="vantagens-calltitle"
                    style="font-size: 2.4rem;">O melhor Lugar para prestadores<br> e tomadores de
                    serviço</span>
            </div>


        </div>




    </section>

    <section id="freelancers" class="freelancers relative w-full h-[80dvh] flex flex-col items-center justify-center p-4 bg-[var(--mat-sys-primary-bright-variant)]">

        <div id="freelancers-modal"
            class="relative rounded-4xl lg:rounded-full w-full 2xl:w-[80%] min-h-[55dvh] h-[60%] bg-[var(--mat-sys-primary-dim)]" style="transform: translateY(30%); scale: 0;">
            <div
                class="hidden lg:flex absolute lg:right-[10dvw] top-[5%] bottom-0 rounded-3xl bg-[var(--mat-sys-secondary)] scale-100 lg:scale-125 pointer-events-none max-h-[90%] aspect-[calc(3/4)] 2xl:aspect-[calc(7/9)]">
                <div class="absolute top-0 right-0 rounded-3xl w-max p-6 bg-[var(--mat-sys-complementar)] text-[var(--mat-sys-on-complementary)] dark:bg-[var(--mat-sys-tertiary)] dark:text-[var(--mat-sys-on-tertiary)]"
                    style="transform: translate(30% , -30%);">
                    <span class="font-bold" style="font-size: 1rem;">Eu faço o meu <br> horário</span>
                </div>
                <div class="absolute bottom-0 left-0 rounded-3xl w-max p-6 bg-[var(--mat-sys-complementar)] text-[var(--mat-sys-on-complementary)] dark:bg-[var(--mat-sys-tertiary)] dark:text-[var(--mat-sys-on-tertiary)]"
                    style="transform: translate(-30% , 30%);">
                    <span class="font-bold" style="font-size: 1rem;">Eu trabalho de <br> qualquer lugar</span>
                </div>
            </div>
            <div class="relative flex flex-col gap-4 p-[min(32rem,_8%)] h-full justify-center">
                <h2 class="text-[var(--mat-sys-on-surface)]">Trabalhe da forma <br>que desejar</h2>
                <span>Aqui é o lugar perfeito para você, venha conferir!</span>
                <a class="commonButton secondary" href="connectpro">
                    <span>Quero Trabalhar</span>
                </a>
            </div>
        </div>

    </section>

    <section id="clients">
        <div class="w-full h-[60dvh] flex flex-col gap-6 items-center justify-center bg-cover bg-center bg-no-repeat bg-fixed"
            style="background-image: url('<%= resposta.paralaxAsset.imageUrl %>');">
            <div class="flex flex-col gap-2">
                <h2 class="text-center text-[var(--mat-sys-tertiary)]">Clientes que confiam em nossas soluções</h2>
                <span class="text-center" style="color: white">de todos os lugares e de todos os tamanhos</span>
            </div>


            <div class="slider" style="
            --width: 200px;
            --height: 72px;
            --quantity: 6;
            ">
                <div class="list">
                    <% resposta.lstComents.forEach((item, index)=> {%>
                        <div class="item w-full h-full p-4 bg-center bg-contain bg-no-repeat"
                            style="background-image: url('<%= item.logo %>'); --position: <%= index + 1%>"></div>
                        <% }); %>
                </div>
            </div>
        </div>
    </section>

    <section id="ourproducts">
        <div class="ourproducts flex flex-col justify-center items-center gap-4 pt-[110px] pb-[86px] px-4">
            <div class="flex flex-col text-center text-[var(--mat-sys-on-surface)]">
                <h2>Nossos Produtos</h2>
                <span>Estamos trabalhando para atender você ainda mais!</span>
            </div>

            <div id="prod-connect-desk" class="w-full flex items-center justify-center" style="transform: translateX(100%); scale: 0.6;">
                <div class="xl:w-[80dvw] bg-[var(--mat-sys-primary-bright)] rounded-2xl h-max overflow-hidden"
                    style="border: 1px solid var(--mat-sys-primary-dim);">
                    <div class="grid grid-cols-1 xl:grid-cols-2">
                        <div class="flex flex-col gap-4 p-6 items-center">
                            <h2 class="text-center text-[var(--mat-sys-primary)]">Alcance novos <br> patamares!</h2>
                            <div class="w-full flex items-center justify-center">
                                <div class="flex flex-col w-max items-center justify-center">
                                    <div
                                        class="p-6 rounded-2xl bg-[var(--mat-sys-primary)] text-[var(--mat-sys-tertiary)] max-w-[min(440px,_80%) md:max-w-[min(440px,_60%)] -translate-x-[16px] md:-translate-x-[30%]">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since</span>
                                    </div>

                                    <div
                                        class="p-6 rounded-2xl text-[var(--mat-sys-primary)] bg-[var(--mat-sys-tertiary)] max-w-[min(440px,_80%) md:max-w-[min(440px,_60%)] translate-x-[16px] md:translate-x-[30%] -translate-y-[16px]">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since</span>
                                    </div>
                                </div>
                            </div>

                            <a class="commonButton secondary" href="<%= resposta.callToConnectDesk %>">
                                <span>Conheça o ConnectDesk</span>
                            </a>
                        </div>

                        <div class="hidden relative w-full h-full xl:flex flex-auto items-center justify-center ">
                            <div
                                class="relative xl:absolute xl:right-[-10%] bg-[var(--mat-sys-primary)] rounded-2xl aspect-video w-[100%] scale-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="prod-connect-schools" class="w-full flex items-center justify-center" style="transform: translateX(-100%); scale: 0.6;">
                <div class="xl:w-[80dvw] bg-[var(--mat-sys-primary-dim)] rounded-2xl h-max overflow-hidden">
                    <div class="grid grid-cols-1 xl:grid-cols-2">
                        <div class="hidden relative w-full h-full xl:flex flex-auto items-center justify-center ">
                            <div
                                class="relative xl:absolute xl.right-[10%] bg-[var(--mat-sys-primary)] rounded-2xl aspect-video w-[100%] scale-100">
                            </div>
                        </div>

                        <div class="flex flex-col gap-4 p-6 items-center">
                            <h2 class="text-center text-[var(--mat-sys-secondary)]">Alcance novos <br> patamares!</h2>
                            <div class="w-full flex items-center justify-center">
                                <div class="flex flex-col w-max items-center justify-center">
                                    <div
                                        class="p-6 rounded-2xl bg-[var(--mat-sys-primary)] text-[var(--mat-sys-tertiary)] max-w-[min(440px,_80%) md:max-w-[min(440px,_60%)] -translate-x-[16px] md:-translate-x-[30%]">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since</span>
                                    </div>

                                    <div
                                        class="p-6 rounded-2xl text-[var(--mat-sys-primary)] bg-[var(--mat-sys-tertiary)] max-w-[min(440px,_80%) md:max-w-[min(440px,_60%)] translate-x-[16px] md:translate-x-[30%] -translate-y-[16px]">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since</span>
                                    </div>
                                </div>
                            </div>

                            <a class="commonButton tertiary" href="<%= resposta.callToConnectDesk %>">
                                <span>Conheça o ConnectDesk</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="beloved">
        <div class="beloved flex flex-col justify-center items-center gap-4 pt-[110px] pb-[86px] px-4">
            <div class="flex flex-col text-center text-[var(--mat-sys-on-surface)]">
                <h2>Amado por equipes de todos os tamanhos</h2>
            </div>

            <div class="w-full 2xl:w-[80dvw] 2xl:max-w-[1920px] pt-8">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full">
                    <% resposta.lstComents.forEach(item=> {%>
                        <% if(item.style==1) {%>
                            <div
                                class="hoverCard col-span-1 md:col-span-2 w-full min-h-[350px] rounded-3xl p-4 flex flex-col justify-between lg:col-span-1 bg-[var(--mat-sys-secondary)] text-[var(--mat-sys-surface-bright)]">
                                <div class="flex flex-col justify-between gap-4 h-full">

                                    <div class="flex flex-col">
                                        <span style="font-size: 0.8rem;">
                                            <%= item.role %>
                                        </span>
                                        <span>
                                            <%= item.name %>
                                        </span>
                                    </div>

                                    <span class="flex flex-col w-full h-full items-center justify-center">
                                        <%= item.comment %>
                                    </span>
                                </div>
                                <div class="w-[200px] p-4 bg-center min-h-[48px] bg-contain bg-no-repeat"
                                    style="background-image: url('<%= item.logo %>')"></div>

                            </div>
                            <% } else if(item.style==2) {%>
                                <div
                                    class="hoverCard col-span-1 md:col-span-2 w-full min-h-[350px] rounded-3xl p-4 flex flex-col justify-between lg:col-span-2 bg-[var(--mat-sys-secondary)] text-[var(--mat-sys-surface-bright)] lg:bg-[var(--mat-sys-tertiary)] lg:text-[var(--mat-sys-secondary)]">
                                    <div class="hidden lg:flex flex-col justify-between items-end gap-4 h-full">

                                        <span class="flex flex-col w-full h-full items-center justify-center">
                                            <%= item.comment %>
                                        </span>

                                        <div class="w-full flex flex-row justify-between">
                                            <div class="flex flex-col">
                                                <span style="font-size: 0.8rem;">
                                                    <%= item.role %>
                                                </span>
                                                <span>
                                                    <%= item.name %>
                                                </span>
                                            </div>

                                            <div class="invert p-4 w-[200px] bg-center min-h-[48px] bg-contain bg-no-repeat"
                                                style="background-image: url('<%= item.logo %>')"></div>
                                        </div>
                                    </div>

                                    <div class="flex lg:hidden flex-col justify-between gap-4 h-full">

                                        <div class="flex flex-col">
                                            <span style="font-size: 0.8rem;">
                                                <%= item.role %>
                                            </span>
                                            <span>
                                                <%= item.name %>
                                            </span>
                                        </div>

                                        <span class="flex flex-col w-full h-full items-center justify-center">
                                            <%= item.comment %>
                                        </span>
                                        <div class="w-[200px] p-4 bg-center min-h-[48px] bg-contain bg-no-repeat"
                                            style="background-image: url('<%= item.logo %>')"></div>
                                    </div>


                                </div>

                                <% }%>
                                    <% }); %>
                </div>


            </div>
        </div>
    </section>

    <section id="faq">
        <div class="faq relative flex flex-col justify-center items-center gap-4 pt-[110px] pb-[86px] px-4">
            <div class="flex flex-col text-center text-[var(--mat-sys-on-surface)]">
                <h2>Alguma dúvida? Conte com a gente</h2>
                <span>Nossa central de perguntas frequentes foi desenhada para prover a você<br> respostas sobre as
                    dúvidas mais comuns</span>
            </div>

            <div class="w-full 2xl:w-[80dvw] max-w-[1920px] flex flex-col gap-4">
                <template x-for="(item, index) in lstFaq" :key="index">
                    <div class="w-full rounded-2xl flex flex-col p-4 cursor-pointer transition-all text-[var(--mat-sys-on-background)]"
                        :class="item.toggle ? 'gap-2 h-[100%]' : 'gap-0 h-[72px]'"
                        style="border: 1px solid var(--mat-sys-on-surface); transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);"
                        @click="item.toggle = !item.toggle">

                        <span :class="item.toggle ? 'text-[1rem]' : 'text-[1.6rem]'"
                            style="transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);" x-text="item.title"></span>

                        <div :class="item.toggle ? 'h-[100%]' : 'h-[0%]'"
                            style="transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);"
                            class="overflow-hidden w-full">
                            <span x-text="item.description"></span>
                        </div>
                    </div>
                </template>
            </div>

            <div class="absolute bottom-0 right-0 p-6">
                <a href="#inicio" class="iconButton primary">
                    <span class="material-symbols-rounded">
                        arrow_upward
                    </span>
                </a>
            </div>
        </div>
    </section>

    <%- footer%>