<%- header%>

    <div
        class="scaleInCenter relative w-full min-h-[90dvh] md:h-[48rem] flex items-center justify-center bg-no-repeat bg-cover bg-center">

        <div class="relative w-full h-full flex items-center justify-center">
            <div
                class=" relative w-full 2xl:w-[80dvw] 2xl:max-w-[1920px] h-full flex flex-col-reverse md:flex-row items-center z-10">
                <div class="scaleInLeft flex flex-col p-4 items-center justify-center text-[var(--mat-sys-on-surface)]"
                    style="flex: 1;">
                    <span class="highlight w-full text-center md:text-left">Conecte-se ao novo <br> cenário
                        profissional</span>
                    <span class="subtitle w-full text-center md:text-left">Gestão Eficiente, Liberdade de
                        Trabalho</span>
                </div>

                <div class="scaleInRight slow flex items-center justify-center" style="flex: 1">
                    <div
                        class="flex flex-row gap-4 p-4 items-center justify-center w-[100dvw] md:w-[400px] xl:w-[550px] aspect-square scale-100">
                        <div class="flex flex-col gap-4 grow">
                            <div class="relative w-full rounded-2xl bg-[var(--mat-sys-secondary)]"
                                style="aspect-ratio: 12/16;">
                                <img class="absolute bottom-0 left-0 right-0 scale-125 origin-bottom aspect-square z-10"
                                    src="<%= bannerAsset.confidentMen %>" alt="">
                            </div>
                            <div
                                class="h-max w-full flex items-center justify-center rounded-2xl bg-[var(--mat-sys-primary-bright)] text-[var(--mat-sys-on-primary-bright)] p-4">
                                <span class="font-bold" style="font-size: 1rem;">Gestão Eficiente, Liberdade de Trabalho
                                    Transparência Total.</span>
                            </div>


                        </div>
                        <div class="flex flex-col gap-4 relative">
                            <div
                                class="relative w-[60%] aspect-square rounded-2xl bg-[var(--mat-sys-tertiary-bright)] flex items-center justify-center">
                                <div class="relative w-[80%] aspect-square flex items-center justify-center">
                                    <img class="absolute top-0 left-0 right-0 bottom-0 w-full aspect-square"
                                        src="<%= bannerAsset2.iconLogo %>" alt="">
                                    <img class="absolute top-[20px] left-0 right-0 bottom-0 w-full"
                                        style="animation: pulse 4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;"
                                        src="<%= bannerAsset2.iconLogo %>" alt="">

                                </div>
                            </div>
                            <div
                                class="h-max w-full rounded-2xl bg-[var(--mat-sys-tertiary)] text-[var(--mat-sys-on-tertiary)] p-4">
                                <span class="font-bold" style="font-size: 1rem;">
                                    <span style="font-size: 0.8rem;">Colabore</span><br> <span class="text-nowrap">de
                                        onde quiser</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div :class="{'brightness-75': theme == 'dark'}"
            class="absolute top-0 left-0 w-full h-full bg-cover bg-no-repeat bg-center z-0"
            style="background: radial-gradient(128.49% 85.13% at 35.04% 15.9%, var(--mat-sys-primary-bright) 0%, var(--mat-sys-surface) 100%);">
        </div>

        <div :class="{'bg-blend-color-burn opacity-20': theme == 'dark', 'opacity-80': theme == 'light'}"
            class="absolute top-0 left-0 w-full h-full bg-left-top z-0 invert "
            style="background-image: url('<%= banner.imageUrl %>'); background-size: 100px;">
        </div>
    </div>


    <%- footer%>