<%- header%>

    <section id="bannerConnectDesk">
        <div id="bannerCanvas" class="relative h-[300dvh]">
            <div id="meetConnectDeskTitle" class="absolute top-0 h-[100dvh] w-full z-40 flex items-center justify-center">
                <span style="font-size: min(64px, 10vh);">Conheça o ConnectDesk</span>
            </div>

            <div id="meetConnectDeskModal" class="absolute top-0 h-[100dvh] w-full flex items-center justify-center backdrop-blur-2xl">
                <div class="flex items-center justify-center rounded-2xl bg-[var(--mat-sys-background-on-translucent)] min-w-[70dvh] min-h-[50dvh] z-50"
                    style="border: 1px solid rgba(0,0,0,0.1)">
                    <div class="flex flex-col gap-4 items-center justify-center"
                        style="padding: min(var(--main-padding, 20dvw));">
                        <span class="text-[18px] md:text-[32px]">Veja o que o ConnectDesk pode fazer por...</span>
                        <span class="text-[64px]">Você</span>
                        <span class="commonButton primary">Comece Agora!</span>
                    </div>
                </div>

            </div>
            <div id="meetConnectDeskBackground" class="absolute top-0 h-[100dvh] w-full z-30 flex items-center justify-center">
                <div class="min-w-[70dvw] aspect-[16/9] bg-center bg-no-repeat bg-contain"
                    style="background-image: url('<%= resposta.banner.imageUrl %>');">

                </div>
            </div>
        </div>
    </section>

    <section id="problemsWeSolute">
        <div
            class="problemsWeSolve bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">
            <div class="w-full flex items-center justify-center">
                <h2 class="text-[2rem] md:text-[4rem] p-4 text-center">Problemas que Resolvemos</h2>
            </div>

            <div class="w-full flex items-center justify-center">
                <div class="slider vertical"
                    style="--width: 200px;--height: 88px;--quantity: 33;--time: 1s;--max-height: 300px; width: 100%;">
                    <div class="list" #listStyle>
                        <% resposta.lstProblems.forEach((item, index)=> {%>
                            <div class="item w-full h-full p-4 bg-center bg-contain bg-no-repeat"
                                style="--position: <%= index + 1%>">
                                <div class="resizeTimeline">
                                    <span>
                                        <%= item.nome%>
                                    </span>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>

            <div class="flex-row-scroll px-8 pb-8 pt-4">
                <div class="min-w-[30dvw]"></div>
                <% resposta.lstSolutions.forEach((item, index)=> { %>
                    <div class="item gigantic shadow-lg">
                        <div class="background" style="background-image: url('<%- item.image %>')"
                            aria-label="<%- item.nome %>"></div>
                        <div class="w-full h-full overflow-auto">
                            <div
                                class="relative md:absolute top-0 left-0 p-6 text-[18px] md:text-[32px] font-bold z-10">
                                <span><%- item.nome %></span>
                            </div>

                            <div
                                class="relative md:absolute bottom-0 left-0 p-6 flex flex-col gap-4 w-full z-10 xl:max-w-[60%]">
                                <% if (Array.isArray(item.list)) { %>
                                    <% item.list.forEach((itemList, indexList)=> { %>
                                        <div>
                                            <span><%- itemList.title %></span>
                                            <span><%- itemList.paragraph %></span>
                                        </div>
                                        <% }); %>
                                            <% } else { %>
                                                <div><span>Sem informações disponíveis</span></div>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                        <div class="min-w-[30dvw]"></div>
            </div>
        </div>
    </section>

    <section id="meetHelpdesk">
        <div class="bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col box-border">
            <div class="w-full flex items-center justify-center">
                <h2 class="text-[2rem] md:text-[4rem] p-4 text-center">Conheça o ConnectDesk</h2>
            </div>

            <div class="scroll-products">
                <div class="min-w-[30dvw]"></div>
                <template x-for="(item, index) in lstProducts" :key="index">
                    <div class="item bg-center bg-no-repeat bg-cover"
                        :style="'background-image: url(' + item.image + ')'">
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-row items-center gap-4">
                                <div
                                    class="relative overflow-hidden w-[64px] aspect-square rounded-[var(--main-curve)] bg-[var(--mat-sys-background)] flex items-center justify-center">
                                    <div class="w-[48px] h-[48px] bg-no-repeat bg-center bg-contain"
                                        :style="'background-image: url(' + item.logo + ')'"></div>
                                </div>
                                <div><span x-text="item.nome"></span></div>
                            </div>
                            <span x-text="item.description"></span>
                        </div>

                        <div class="absolute bottom-[var(--main-padding)] right-[var(--main-padding)]">
                            <div class="iconButton primary" @click="item.show = !item.show">
                                <span class="aspect-square flex items-center justify-center">
                                    <span class="material-symbols-rounded">
                                        add
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <!-- Exibe informações completas se "show" for true -->
            <template x-for="(item, index) in lstProducts" :key="'info-' + index">
                <div x-show="item.show" x-transition:leave="slide-down"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 translate-y-10" class="fullInformation">
                    <div
                        class="w-[90%] lg:w-[70dvw] h-max flex flex-col rounded-[var(--main-curve)] bg-[var(--mat-sys-background)] shadow-lg my-[20dvh]">
                        <div class="relative w-full aspect-[4/3] md:aspect-[16/9] lg:aspect-[21/9] rounded-t-[var(--main-curve)] bg-center bg-no-repeat bg-cover"
                            :style="'background-image: url(' + item.image + ')'">
                            <div
                                class="absolute top-[calc(var(--main-padding))] right-[calc(var(--main-padding))] z-50">
                                <div class="iconButton primary" @click="item.show = false">
                                    <span class="material-symbols-rounded">
                                        close
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full h-[600px]" style="padding: min(var(--main-padding, 20dvw));">
                            <span x-text="item.nome"></span>
                            <span x-text="item.description"></span>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>

    <section id="otherResources">
        <div
            class="bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">

            <div class="w-full flex items-center justify-center">
                <h2 class="">E ainda tem mais</h2>
            </div>

            <div class="relative w-full flex justify-center items-center box-border">
                <div class="hidden lg:flex items-center justify-center w-full h-full xl:max-w-[75dvw] p-4">
                    <div class="relative grid grid-cols-[var(--custom-columns)] gap-4">
                        <div class="grid grid-rows-3 col-span-1 gap-4">
                            <div class="flex items-center justify-center bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center">
                                    <span>
                                        <%= resposta.otherResources[0].title %>
                                    </span>
                                    <span style="font-size: 2.4rem;">
                                        <%= resposta.otherResources[0].subtitle %>
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center justify-center bg-[var(--mat-sys-tertiary)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center justify-center text-black">
                                    <span style="font-size: 2.4rem;">
                                        <%= resposta.otherResources[1].title %>
                                    </span>
                                    <span style="font-size: 2.4rem;">
                                        <%= resposta.otherResources[1].subtitle %>
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div
                                    class="flex flex-col items-center justify-center self-start p-4 w-full overflow-hidden">
                                    <span class="text-center" style="font-size: 1.4rem;">
                                        <%= resposta.otherResources[2].title %>
                                    </span>
                                    <div class="w-full absolute bottom-0 aspect-square bg-no-repeat bg-contain bg-center"
                                        style="background-image: url('<%= resposta.otherResources[2].image %>'); transform: translateY(calc(64px * 1.5));">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 col-span-1 grid-rows-3 gap-4">
                            <div class="col-span-2 bg-[#74AA9c] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col lg:flex-row items-center justify-center p-4 h-full w-full">
                                    <span class="text-center text-white" style="font-size: 1.4rem;">
                                        <%= resposta.otherResources[3].title%>
                                    </span>

                                    <div class="relative flex justify-center w-full h-full aspect-square">
                                        <div class="h-[70%] aspect-square bg-no-repeat bg-contain bg-center"
                                            style="background-image: url('<%= resposta.otherResources[3].image %>'); transform: translateY(20%)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 grid-rows-2 col-span-2 row-span-2 gap-4">
                                <div class="row-span-2 flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                    <div class="flex flex-col items-center justify-center p-4 h-full w-full">
                                        <span class="text-center" style="font-size: 1.4rem;">
                                            <%= resposta.otherResources[4].title %>
                                        </span>
                                        <div class="w-full h-[70%] bg-no-repeat bg-contain bg-center"
                                            style="background-image: url('<%= resposta.otherResources[4].image %>');">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                    <div
                                        class="flex flex-col items-center justify-center self-start p-4 w-full overflow-hidden">
                                        <span class="text-center" style="font-size: clamp(16px, 2vw, 1.2rem);">
                                            <%= resposta.otherResources[5].title %>
                                        </span>
                                        <div class="w-full absolute bottom-0 aspect-square bg-no-repeat"
                                            style="background-size: 50%; background-image: url('<%= resposta.otherResources[5].image %>'); background-position: 50% 70%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col bg-[var(--mat-sys-secondary)] rescaleHover tiltCard rounded-3xl"
                                    @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                    <div class="w-full h-full flex items-center justify-center">
                                        <span class="text-center text-white" style="font-size: 2.4rem;">
                                            <%= resposta.otherResources[6].title %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-rows-3 col-span-1 gap-4">
                            <div class="row-span-2 flex flex-col bg-[var(--mat-sys-background-bright)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="flex flex-col items-center justify-center p-4 h-full w-full">
                                    <span class="text-center" style="font-size: 1.4rem;">
                                        <%= resposta.otherResources[7].title %>
                                    </span>
                                    <div class="w-full h-[70%] bg-no-repeat bg-contain bg-center"
                                        style="background-image: url('<%= resposta.otherResources[7].image %>');"></div>
                                </div>
                            </div>
                            <div class="flex flex-col bg-[var(--mat-sys-primary-dim)] rescaleHover tiltCard rounded-3xl"
                                @mousemove="tiltEffect($event, $el)" @mouseleave="resetTilt($el)">
                                <div class="w-full h-full flex flex-col items-center justify-center">
                                    <span class="text-center" style="font-size: 2.4rem;">
                                        <%= resposta.otherResources[8].title %>
                                    </span>
                                    <span class="text-center" style="font-size: 1.4rem;">
                                        <%= resposta.otherResources[8].subtitle %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:hidden w-full h-max grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 grid-rows-auto gap-4"
                    style="padding-left: min(1.5rem, 20dvw); padding-right: min(1.5rem, 20dvw);">
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-square sm:aspect-square">
                        <div class="w-full flex flex-col items-center justify-center">
                            <span>
                                <%= resposta.otherResources[0].title %>
                            </span>
                            <span>
                                <%= resposta.otherResources[0].subtitle %>
                            </span>
                        </div>
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-square sm:aspect-square">
                        <span>
                            <%= resposta.otherResources[1].title %>
                        </span>
                        <span>
                            <%= resposta.otherResources[1].subtitle %>
                        </span>
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-square sm:aspect-square">
                        <span>
                            <%= resposta.otherResources[2].title %>
                        </span>
                        <span>
                            <%= resposta.otherResources[2].subtitle %>
                        </span>
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square">
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square">
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-square sm:aspect-square">
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-square sm:aspect-square">
                    </div>
                    <div
                        class="bg-[var(--mat-sys-background-bright)] col-span-1 rounded-3xl aspect-[9/16] sm:aspect-square">
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="plans">
        <div
            class="bg-[var(--mat-sys-background)] relative min-h-[80dvh] py-[64px] w-full flex flex-col z-10 box-border">
            <div class="w-full flex items-center justify-center">
                <h2 class="">O pacote ideal para você</h2>
            </div>

            <div class="w-full flex justify-center">
                <div class="grid grid-cols-4 p-4 xl:max-w-[75dvw] 2xl: max-w-[1920px] gap-4">
                    <div
                        class="flex flex-col h-full col-span-2 bg-[var(--mat-sys-secondary)] rounded-3xl p-4 text-[var(--mat-sys-tertiary)] shadow-xl">
                        <span class="font-bold">Dupla de OURO</span>
                        <div class="flex flex-row gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <div class="h-[24px] aspect-square rounded-full bg-white shadow-xl"></div>
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span class="font-bold" style="font-size: 2.4rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-row justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton tertiary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col h-full col-span-2 bg-[var(--mat-sys-tertiary)] rounded-3xl p-4 text-[var(--mat-sys-primary)] shadow-xl">
                        <span class="font-bold">ECO-SISTEMA COMPLETO</span>
                        <div class="flex flex-row gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <div class="h-[24px] aspect-square rounded-full bg-white shadow-xl"></div>
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <div class="h-[24px] aspect-square rounded-full bg-white shadow-xl"></div>
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <div class="h-[24px] aspect-square rounded-full bg-white shadow-xl"></div>
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span class="font-bold" style="font-size: 2.4rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-row justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton secondary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col h-full col-span-1 bg-[var(--mat-sys-background-bright)] rounded-3xl p-4 shadow-xl">
                        <div class="flex flex-col gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <span>HelpDesk</span>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span style="font-size: 2rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-col gap-4 justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton tertiary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col h-full col-span-1 bg-[var(--mat-sys-background-bright)] rounded-3xl p-4 shadow-xl">
                        <div class="flex flex-col gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <span>HelpDesk</span>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span style="font-size: 2rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-col gap-4 justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton tertiary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col h-full col-span-1 bg-[var(--mat-sys-background-bright)] rounded-3xl p-4 shadow-xl">
                        <div class="flex flex-col gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <span>HelpDesk</span>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span style="font-size: 2rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-col gap-4 justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton tertiary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col h-full col-span-1 bg-[var(--mat-sys-background-bright)] rounded-3xl p-4 shadow-xl">
                        <div class="flex flex-col gap-2 items-center justify-center w-full h-[200px]">
                            <div class="h-[64px] aspect-square rounded-3xl bg-white shadow-xl"></div>
                            <span>HelpDesk</span>
                        </div>

                        <div class="flex flex-col w-full gap-4">
                            <div class="flex flex-col gap-1">
                                <span>R$ 299,00/Mês</span>
                                <span style="font-size: 2rem;">R$ 139,00/Mês</span>
                                <span>Veja os Termos</span>
                            </div>

                            <div class="flex flex-col gap-2">
                                <span>HelpDesk, Base de Conhecimento, 24GB de armazenamento na nuvem, chat, widget de
                                    integração de chat para a sua webpage, acesso 24h.</span>
                            </div>

                            <div class="flex flex-col gap-4 justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <div class="h-[24px] aspect-square rounded-full bg-white"></div>
                                    <span>Transação Segura</span>
                                </div>

                                <div class="commonButton tertiary">
                                    <span>Compre Agora!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="faq">
        <div class="faq relative flex flex-col justify-center items-center gap-4 pt-[110px] pb-[86px] px-4">
            <div class="flex flex-col text-center text-[var(--mat-sys-on-surface)]">
                <h2>Alguma dúvida? Conte com a gente</h2>
                <span>Nossa central de perguntas frequentes foi desenhada para prover a você<br> respostas sobre as
                    dúvidas mais comuns</span>
            </div>

            <div class="w-full 2xl:w-[80dvw] max-w-[1920px] flex flex-col gap-4">
                <% resposta.lstFaq.forEach((item, index)=> { %>
                    <div class="w-full rounded-2xl flex flex-col p-4 cursor-pointer transition-all text-[var(--mat-sys-on-background)]"
                        style="border: 1px solid var(--mat-sys-on-surface); transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);"
                        onclick="this.querySelector('.faq-content').classList.toggle('hidden');">

                        <span class="text-[1.6rem]" style="transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);">
                            <%= item.title %>
                        </span>

                        <div class="faq-content hidden h-[100%] overflow-hidden w-full"
                            style="transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);">
                            <span>
                                <%= item.description %>
                            </span>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <div class="absolute bottom-0 right-0 p-6">
                <a id="backTop" class="iconButton primary">
                    <span class="material-symbols-rounded">
                        arrow_upward
                    </span>
                </a>
            </div>
        </div>
    </section>

    <%- footer%>